<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org"
	th:fragment="dynamic(main)">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>index</title>
<!-- Favicons -->
<link href="assets/img/favicon.png" rel="icon">
<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
	rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="/access/vendor/aos/aos.css" rel="stylesheet">
<link href="/access/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<link href="/access/vendor/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet">
<link href="/access/vendor/boxicons/css/boxicons.min.css"
	rel="stylesheet">
<link href="/access/vendor/glightbox/css/glightbox.min.css"
	rel="stylesheet">
<link href="/access/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="/access/vendor/swiper/swiper-bundle.min.css"
	rel="stylesheet">
<link href="/access/css/styles.css" rel="stylesheet">
<link
	href='//theme.hstatic.net/1000306633/1000891824/14/styles-new.css?v=37'
	rel='stylesheet' type='text/css' media='all' />
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<style>
	.xct{
		position : relative;
		margin-left : 65px;
	}
	body{
		font-family: Courier ;
		font-size : 20px;
	}
</style>
</head>

<body>
	<div ng-app="shopping-cart-app" ng-controller="shopping-cart-ctrl">
		<header class="row"></header>
		<nav class="row">
			<div th:replace="/layout/_menu.html"></div>
		</nav>
		<div>
			<article class="container">
				<div th:replace="${main}" ></div>
			</article>
			<!--   <aside class="col-sm-3">
                <div th:replace="/layout/_cart-info.html"></div>
               <div th:replace="/layout/_category.html"></div>
            </aside>
            -->
		</div>
		<!-- ======= Footer ======= -->
		<footer id="footer">
			<div class="footer-top">
				<div class="container">
					<div class="row">

						<div class="col-lg-3 col-md-6">
							<div class="footer-info">
								<h3>
								</h3>
								<p>
									Degrey <br><br> <br> <strong>Phone:</strong>
									+84 93 919 5150<br> <strong>Email:</strong>
									pndangtruong@gmail.com<br>
								</p>
								<div class="social-links mt-3">
									<a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
									<a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
									<a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
									<a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
									<a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
								</div>
							</div>
						</div>

						<div class="col-lg-2 col-md-6 footer-links">
							<h4>Thời trang</h4>
							<ul>
								<li><i class="bx bx-chevron-right"></i> <a href="#">Quần</a></li>
								<li><i class="bx bx-chevron-right"></i> <a href="#">Áo
										us</a></li>
								<li><i class="bx bx-chevron-right"></i> <a href="#">Nữ trang</a></li>
								<li><i class="bx bx-chevron-right"></i> <a href="#">Túi xách
										</a></li>
								<li><i class="bx bx-chevron-right"></i> <a href="#">Giày</a></li>
							</ul>
						</div>

						<div class="col-lg-3 col-md-6 footer-links">
							<h4>Điện tử</h4>
							<ul>
								<li><i class="bx bx-chevron-right"></i> <a href="#">Điện thoại</a></li>
								<li><i class="bx bx-chevron-right"></i> <a href="#">Máy tính</a></li>
								<li><i class="bx bx-chevron-right"></i> <a href="#">Máy lạnh</a></li>
								<li><i class="bx bx-chevron-right"></i> <a href="#">Thiết bị văn phòng</a></li>
							</ul>
						</div>

						<div class="col-lg-4 col-md-6 footer-newsletter">
							
							<form action="" method="post">
								<input type="email" name="email"><input type="submit"
									value="Subscribe">
							</form>

						</div>

					</div>
				</div>
			</div>
		</footer>
		<!-- End Footer -->
	</div>
	<script src="/access/js/shopping-cart-app.js"></script>
	<script src="/access/vendor/purecounter/purecounter_vanilla.js"></script>
	<script src="/access/vendor/aos/aos.js"></script>
	<script src="/access/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/access/vendor/glightbox/js/glightbox.min.js"></script>
	<script src="/access/vendor/isotope-layout/isotope.pkgd.min.js"></script>
	<script src="/access/vendor/swiper/swiper-bundle.min.js"></script>
	<script src="/access/vendor/php-email-form/validate.js"></script>
	<script src="/access/js/main.js"></script>

</body>

</html>